#container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    background-color: azure;
}

.header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: azure;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.bCon {
    height: 100%;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    font-size: 50px;
    position: relative;
    left: 30px;
}

.rule {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 25px;
    position: relative;
    left: 470px;
}

.rule:hover {
    color: aqua;
}

.player, .computer{
    width: 300px;
    height: 175px;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bCon > .player:hover, .bCon > .computer:hover {
    background-color: aqua;
}

.dialog {
    width: 500px;
}

.mainboard {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    border: 1px solid black;
}

.grid {
    border: 1px solid black;
}

.grid:hover {
    background-color: aqua;
}